# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.suo

[Oo]bj/
[Bb]in/
[Dd]ebug/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
_ReSharper*
*.dbmdl
*.Cache
*.StyleCop
*.orig
*.user
Deployment/Packages/
/packages
!repositories.config
*.rdl.data
*.vsp
*.psess
*.opensdf
*.sdf
